.logo{
    width: 100px;
    height: 100px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(40, 152, 196);
    color: #fff;
    
}

.navbar_nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar_nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

.navbar_nav a:hover {
    background-color: red;
    border-radius: 5px;
}



.banderol{
    max-width: 100%;
    height: auto;
}
.premier{
    position: absolute;
    font-size: 6rem;
    text-transform: uppercase;
    color: black;
    margin-top: 15%;
    text-align: center;
}
.lemain{
    position: relative;
}

.titredebienvenue{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: white;
    background-color:rgb(40, 152, 196) ;
}
.textedebienvenu{
    text-align: justify;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bienvenu{
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(40, 152, 196); /* Shadow with no border */
    border-radius: 8px; /* Optional: adds rounded corners */
}

footer ul li a img{
    width: 30px;
}

footer ul li a{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

footer ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footeracceuil{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
.footeracceuil{
 margin-top: 15px;
}
